<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-3">
    <h3 class="mb-5">Create a New Meal:</h3>
    <form class="form new-meal-form">
      <div class="form-group border-bottom">
        <label for="meal-name"></label>
        <input class="form-input border-0" placeholder="Meal Name" type="text" id="meal-name" name="meal-name" />
      </div>
      <div class="form-group border-bottom">
        <label for="meal-day"></label>
        <input class="form-input border-0" placeholder="Day of the Week" type="text" id="meal-day" name="meal-day" />
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>

    </form>
  </div>



  {{#if meals.length}}
  <div class="col-md-6 meal-list">
    <h3>Current Meals:</h3>

    {{!-- <div class="row mb-2">
      <div id='monday-meal' class="col-md-8">
        <h4>Monday</h4>
        <h4><a href="/meal/{{meal.id}}">{{meal.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button id='mon-del-button' class="btn btn-sm btn-danger" data-id="{{meal.id}}">DELETE</button>
      </div>
    </div>
    <div class="row mb-2">
      <div id='tuesday-meal' class="col-md-8">
        <h4>Tuesday</h4>
        <h4><a href="/meal/{{meal.id}}">{{meal.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button id='tues-del-button' class="btn btn-sm btn-danger" data-id="{{meal.id}}">DELETE</button>
      </div>
    </div>
    <div class="row mb-2">
      <div id='wednesday-meal' class="col-md-8">
        <h4>Wednesday</h4>
        <h4><a href="/meal/{{meal.id}}">{{meal.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button id='wed-del-button' class="btn btn-sm btn-danger" data-id="{{meal.id}}">DELETE</button>
      </div>
    </div>
    <div class="row mb-2">
      <div id='thursday-meal' class="col-md-8">
        <h4>Thursday</h4>
        <h4><a href="/meal/{{meal.id}}">{{meal.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button id='thurs-del-button' class="btn btn-sm btn-danger" data-id="{{meal.id}}">DELETE</button>
      </div>
    </div>
    <div class="row mb-2">
      <div id='friday-meal' class="col-md-8">
        <h4>Friday</h4>
        <h4><a href="/meal/{{meal.id}}">{{meal.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button id='fri-del-button' class="btn btn-sm btn-danger" data-id="{{meal.id}}">DELETE</button>
      </div>
    </div>
    <div class="row mb-2">
      <div id='saturday-meal' class="col-md-8">
        <h4>Saturday</h4>
        <h4><a href="/meal/{{meal.id}}">{{meal.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button id='sat-del-button' class="btn btn-sm btn-danger" data-id="{{meal.id}}">DELETE</button>
      </div>
    </div>
    <div class="row mb-2">
      <div id='sunday-meal' class="col-md-8">
        <h4>Sunday</h4>
        <h4><a href="/meal/{{meal.id}}">{{meal.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button id='sun-del-button' class="btn btn-sm btn-danger" data-id="{{meal.id}}">DELETE</button>
      </div>
    </div> --}}

  </div>
  {{/if}}
</div>

<body onload="getMeals()"></body>
<script src="./js/profile.js"></script>